table.risks td.description,
table.risks td.treatments,
table.risks td.lessons,
table.risks td.last_notes {
  color: #777;
  font-size: 90%;
  padding: 4px 4px 4px 24px;
  text-align: left;
  white-space: normal;
}
#issue_tree .issues, #risk-relations .risks {
  margin: 10px 0 0;
}
#issue_tree > p, #risk-relations > p {
  margin-bottom: 0;
}
