name: tests

on: [push, pull_request, workflow_dispatch]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        redmine: ["5.0", "5.1"]
        db: ["sqlite", "mysql", "postgresql"]
        include:
          - ruby: "2.7"

    name: "Ruby ${{ matrix.ruby }} / Redmine ${{ matrix.redmine }} / ${{ matrix.db }}"

    steps:
      - name: Execute tests
        uses: eXolnet/action-redmine-plugin@v2
        with:
          plugin_name: "redmine_risks"
          redmine_version: "${{ matrix.redmine }}"
          ruby_version: "${{ matrix.ruby }}"
          database: "${{ matrix.db }}"
